body {
}

.header {
	display: flex;
	font-weight: bold;
	align-items: center;
	font-family: Verdana;
 	font-size: 14px;
}

.logo {
	border:  1px solid black;
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.logo p {
	display: inline;
	color: mediumaquamarine;
	margin-left: 10px;
}

.nav span {
	display: inline-block;
	justify-content: flex-end;
}


.content {
	display: flex;
	border: 1px solid black;
	justify-content: space-between;
}

.column {
	display: flex;
	border: 1px solid black;
}

.large {
	width: 630px;
}

.medium {
	width: 300px;
}

.small {
	width: 240px;
}

.main {
	border: 1px solid black;
}

.photo {
	border: 1px solid black;
	display: flex;
	font-family: Georgia;
 	font-weight: bold;
 	font-size: 30px;
  	color: white;
}

.photo span {
	margin: 0 auto;
	text-align: center;
}

h2, p {
	display: block;
}

.stories {
	display: flex;
}

.story {
	border: 1px solid black;
	display: flex;
	flex-flow: column wrap;
	width: 300px;
}

.main .photo {
	background-image: url("../images/img-story-main.png");
	font-size: 40px;
	width: 630px;
	height: 300px;
}
#left.photo {
	background-image:  url("../images/img-story-2.png");
	width: 300px;
	height: 300px;
}

#right.photo {
	background-image:  url("../images/img-story-3.png");
	width: 300px;
	height: 300px;
}

#cat.photo {
	background-image:  url("../images/img-story-1.png");
	width: 300px;
	height: 300px;
}